* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

  -ms-overflow-style:none ;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}

.App{
    margin: auto;
    width: 1440px;
    height: 932px;
    background: #ffffff;
    box-shadow: 0px 44px 84px 6px #d8d9db;
    border-radius: 30px;
    /* position: absolute; */
}
